@keyframes rebond {
  0% {
    opacity: 0;
    transform: translateY(1 * -500px);
  }
  1% {
    opacity: 1;
  }

  16% {
    transform: translateY(-0.32 * -500px);
  }

  28% {
    transform: translateY(0.13 * -500px);
  }

  44% {
    transform: translateY(-0.05 * -500px);
  }

  59% {
    transform: translateY(0.02 * -500px);
  }

  73% {
    transform: translateY(-0.01 * -500px);
  }

  88% {
    transform: translateY(0 * -500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0 * -500px);
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    filter: drop-shadow(0 5px 14px rgba(0, 0, 0, 0.3));
    transform: translatey(0px) scale(1);
  }
  50% {
    filter: drop-shadow(0 35px 14px rgba(0, 0, 0, 0.5));
    transform: translatey(-30px) scale(1.03);
  }
  100% {
    filter: drop-shadow(0 5px 14px rgba(0, 0, 0, 0.3));
    transform: translatey(0px) scale(1);
  }
}
