@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'animations';
@import 'locomotive';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: blueviolet;
  // background: linear-gradient(blueviolet, #ff6767);
  background: linear-gradient(plum, blueviolet);
  overflow: hidden;
}

.distort {
  display: none;
}

.panel {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  white-space: normal;
}
a,
a:visited {
  color: blue;
}

.intro {
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  &__title {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: 4rem;
    font-weight: 400;
    color: white;
    font-style: italic;
    text-decoration: underline;
    transform-origin: center;
    text-transform: uppercase;
    z-index: 1;
  }
  &__critique {
    grid-column: 2 / span 6;
    grid-row: 1;
    transform: rotate(10deg);
    img {
      max-width: 100%;
    }
  }
  .postit--fanny {
    position: relative;
    background-color: #eaff00;
    max-width: 300px;
    z-index: 1;
    grid-column: 6 / span 3;
    grid-row: 1;
    &::after {
      border-top-color: darken(#eaff00, 20%);
    }
  }
  .postit--tristan {
    background-color: #bff5e6;
    grid-column: 7 / span 4;
    grid-row: 1;
    transform: rotate(-5deg);
    font-size: 0.8rem;
    width: 90%;
    // max-height: 100%;
    // overflow: hidden;
    &::after {
      border-top-color: #6883a1;
    }
  }
}
.postit {
  & > div {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: justify;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px -5px 10px 2px rgba(0, 0, 0, 0.7);
  }
  &__closeBtn {
    background: none;
    border: none;
    font-weight: 800;
    cursor: pointer;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: calc(100% - 1.5rem);
    height: 1.5rem;
    background: inherit;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-top: 1.5rem solid #0e00cc;
    border-right: 1.5rem solid transparent;
  }
}

.album {
  grid-template-columns: repeat(12, 1fr);
  .pochette {
    grid-row: 1;
    grid-column: 3 / span 4;
    transform: rotate(5deg);
    img {
      max-width: 100%;
      // animation: rebond 0.8s ease-out 0.5s 1 both paused;
    }
  }

  .cd {
    grid-row: 1;
    grid-column: 7 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    &__imgContainer {
      width: 100%;
      img {
        max-width: 100%;
        // animation: rebond 0.8s ease-out 0s 1 both paused;
      }
    }
    &__infos {
      text-align: center;
      line-height: 1.2;
      b {
        font-size: 1.2rem;
      }
      p {
        text-align: justify;
      }
      a,
      a:visited {
        color: blue;
        font-weight: 600;
        font-size: 1.5rem;
        font-style: italic;
      }
    }
  }
}

.clips {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-content: center;
  .clip {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(black, white 90%);
    &__player {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: black;
      opacity: 0.8;
      border-radius: 50% / 10%;
      font-size: 1rem; /* change this to change size */
      height: 3em;
      margin: 20px auto;
      padding: 0;
      text-align: center;
      text-indent: 0.1em;
      transition: all 150ms ease-out;
      width: 4em;
      cursor: pointer;
      &::before {
        background: inherit;
        border-radius: 5% / 50%;
        bottom: 9%;
        content: '';
        left: -5%;
        position: absolute;
        right: -5%;
        top: 9%;
      }
      &::after {
        border-style: solid;
        border-width: 1em 0 1em 1.732em;
        border-color: transparent transparent transparent rgba(255, 255, 255, 1);
        content: ' ';
        font-size: 0.75em;
        height: 0;
        margin: -1em 0 0 -0.75em;
        top: 50%;
        position: absolute;
        width: 0;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      display: block;
    }
    &:nth-child(1) {
      grid-column: 3 / span 4;
      grid-row: 1;
      align-self: flex-end;
    }
    &:nth-child(2) {
      grid-column: 7 / span 4;
      grid-row: 1;
      align-self: flex-end;
    }
    &:nth-child(3) {
      grid-column: 2 / span 4;
      grid-row: 2;
      align-self: flex-start;
    }
    &:nth-child(4) {
      grid-column: 8 / span 4;
      grid-row: 2;
      align-self: flex-start;
    }
    &:nth-child(5) {
      grid-column: 5 / span 4;
      grid-row: 2;
      align-self: flex-start;
    }
    &:hover {
      z-index: 10;
      img {
        opacity: 0.4;
      }
      .clip__player {
        background: red;
      }
    }
  }
}

.vin {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  &__paroles {
    &:nth-child(1) {
      grid-row: 3 / span 8;
      grid-column: 2 / span 3;
      transform: rotate(-5deg);
    }
    &:nth-child(2) {
      grid-row: 4 / span 8;
      grid-column: 4 / span 3;
      transform: rotate(-5deg);
    }
    &:nth-child(3) {
      grid-row: 3 / span 8;
      grid-column: 5 / span 3;
      transform: rotate(10deg);
    }
    &:nth-child(4) {
      grid-row: 2 / span 8;
      grid-column: 8 / span 3;
      transform: rotate(10deg);
    }
    img {
      max-width: 100%;
    }
  }
  &__bouteille {
    grid-column: 7 / span 2;
    grid-row: 3 / span 8;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }
  &__texte {
    grid-column: 9 / span 2;
    grid-row: 10 / span 2;
    font-weight: 800;
    font-style: italic;
  }
}

.photos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  &__imgContainer {
    background: black;
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    cursor: pointer;
    &:nth-child(1) {
      grid-column: 2 / span 4;
      grid-row: 2 / span 3;
      // transform: rotate(-8deg);
    }
    &:nth-child(2) {
      grid-column: 8 / span 4;
      grid-row: 3 / span 3;
      // transform: rotate(5deg);
      z-index: 1;
    }
    &:nth-child(3) {
      grid-column: 6 / span 3;
      grid-row: 1 / span 5;
      // transform: rotate(6deg);
    }
    img {
      transition: opacity 0.3s ease-out;
      object-fit: cover;
      width: 100%;
      display: block;
      // display: none;
    }
    &:hover,
    &:focus {
      z-index: 10;
      img {
        opacity: 0.4;
      }
    }
    figcaption {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      display: grid;
      place-items: center;
      text-align: justify;
      transform-origin: center center;
      transform: scale(0);
      transition: transform 0.3s ease-out;
      p {
        width: 70%;
        aspect-ratio: 1;
        padding: 1rem;
        // border: 1px solid white;
        display: grid;
        place-items: center;
      }
    }
    &:hover,
    &:focus {
      figcaption {
        transform: scale(1);
      }
    }
  }
}

.tapis {
  display: flex;
  justify-content: center;
  align-items: center;
  &__card {
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  &__imgContainer {
    height: 100%;
    animation: float 6s ease-in-out infinite;
    // filter: drop-shadow(0 25px 14px rgba(0, 0, 0, 0.6));
    // transform: translatey(-20px);
  }
  &__infos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    span {
      text-decoration: line-through 1px black;
    }
  }
}

.contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
  &__form {
    position: relative;
    input,
    label,
    textarea {
      display: block;
      line-height: 2;
    }
    [type='text'],
    [type='email'],
    textarea {
      width: 100%;
      background: #b9b8b8;
      border: none;
      outline: none;
      resize: none;
      padding: 0.3rem;
    }
    label {
      font-style: italic;
    }
    [type='submit'] {
      float: right;
      margin-top: 1rem;
      padding: 0 0.3rem;
      border-radius: 3px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      border: none;
      outline: none;
      cursor: pointer;
      background: #d7d7d7;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    }
  }
  &__timbre {
    position: absolute;
    top: -2rem;
    right: 0;
    max-height: 7rem;
    transform: translate(200px, -50px) rotate(-80deg);
    opacity: 0;
    transition: transform 1.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    &.is-inview {
      opacity: 1;
      transform: translate(0, 0) rotate(0);
    }
  }
}

.footer {
  &__container {
    position: relative;
    padding: 1rem;
    height: 90%;
    text-align: justify;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
  }
  &__text {
    position: relative;
    max-width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    span {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      color: transparent;
      text-align: justify;
      &::after {
        content: '';
        display: inline-block;
        width: 100%;
      }
      // pointer-events: none;
      &::selection {
        background: red;
        color: white;
      }
    }
  }
  &__imgContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    animation: rot 10s ease-in-out 0.3s infinite both;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

.player {
  position: fixed;
  left: 0;
  right: 0;
  top: -2.4rem;
  transform: translateY(0%);
  background: #ece296;
  display: flex;
  align-items: stretch;
  font-size: 0;
  transition: transform 0.3s ease;
  &.visible {
    transform: translateY(100%);
  }
  &__handle {
    position: absolute;
    left: 50%;
    top: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 0 0 50% 50%;
    background: #ffec58;
    text-align: center;
    color: white;
    cursor: pointer;
    svg {
      transition: transform 0.3s;
    }
    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      transform: translateX(-50%);
      height: 0.4rem;
      background: #ffec58;
    }
  }
  button {
    background: #ffec58;
    border: none;
    outline: none;
    height: 100%;
    aspect-ratio: 1;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.3125rem;
  }
  .pause {
    display: none;
  }
  .progressBarContainer {
    position: relative;
    background: #f7f3f0;
    min-height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .progressBar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background: #ffec58;
  }
  .titre {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #1f1887;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    font-style: italic;
    mix-blend-mode: color-burn;
  }
  .duree {
    position: absolute;
    right: 1rem;
    top: 50%;
    color: #1f1887;
    font-size: 1rem;
    transform: translate(0, -50%);
    mix-blend-mode: color-burn;
  }
}
